body{
    font-family: arial, sans-serif;
    margin: 0;
    text-align: center;
}

table{
    border-collapse: collapse;
    margin: 0 10px 10px 0;
    display: inline-block;
}

th, td{
    border: 1px solid black;
    text-align: center;
    padding: 5px;
}

th{
    background-color: black;
    color: white;
    font-weight: bold;
}

tr td{
    min-width: 125px;
}

tr td:nth-of-type(2){
    min-width: 30px;
    font-weight: bold;
}

form{
    overflow: auto;
    background-color: #f2f2f2;
    padding: 10px;
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 20px auto 20px auto;
}

label{
    font-weight: bold;
}

label, input[type=text], input[type=submit], textarea{
    float: left;
    clear: both;
}

input, textarea{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 5px 0 20px 0;
    width: 488px;
    font-size: 16px;
    outline: none;
}

textarea{
    height: 250px;
    font-family: arial, sans-serif;
}

input[type=checkbox]{
    float: left;
    margin: 2px 0 20px 10px;
    width: auto;
}

input[type=submit]{
    background-color: #a2c257;
    border-color: #8ba446;
    color: white;
    cursor: pointer;
    margin: 0;
    width: 500px;
}

input:focus, textarea:focus{
    border-color: black;
}

h1{
    border-bottom: 2px solid #dd4b39;
    padding: 20px 0;
    margin: 0;
    background-color: #f2f2f2;
    color: #404040;
}

h2{
    clear: both;
    float: left;
    width: 100%;
    margin: 10px 0 20px 0;
}

h2:nth-of-type(1){
    margin-top: 0;
}

#or{
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

span{
    color: #dd4b39;
}

#version{
    float: right;
    color: #404040;
    clear: both;
    width: 100%;
    margin-bottom: 10px;
}