/************************************ FONTS ************************************/

@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700);
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial);
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';
@import "compass/css3";

/* entypo */

[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
}


/* fontawesome */

[class*="fontawesome-"]:before {
    font-family: 'FontAwesome', sans-serif;
}


/************************************* END FONTS *************************************/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 17px;
}

p {
    font-size: 15px;
}

a {
    text-decoration: none;
    font-size: 15px;
}

a:hover {
    text-decoration: underline;
}

h1,
h2,
p,
a,
span {
    color: #fff;
}

.font-color {
    color: #9099b7;
}


/** CONTAINERS **/

.container {
    float: left;
    width: 500px;
}

.block {
    margin-bottom: 25px;
    background: #394264;
    border-radius: 5px;
}


/************************************************** MIDDLE CONTAINER **********************************/

.middle-container {
    margin: 0 30px;
}

.p {
    height: 410px;
}

.page-title {
    margin: 25px 0 16px;
    text-align: center;
}

.p-description {
    width: 210px;
    margin: 0 auto;
    text-align: center;
}

table {
    width: 100%;
}

.tbl-header {
    background-color: #394264;
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

tr {
    background-color: #394264;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #fff;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}


/************************************* Overall and Responsive Adjustements *************************************/

section {
    margin: 50px;
}

.space {
    width: 100%;
    height: 230%;
}

.preview {
    width: 50px;
    height: 50px
}

@media (max-width: 1220px) {
    .space {
        height: 410%;
    }
}


/* for custom scrollbar for webkit browser*/

 ::-webkit-scrollbar {
    width: 6px;
}

 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

 ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}