/************************************* Overall Styling *************************************/

html,
body {
    font-family: "Poppins", sans-serif;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    background-color: #e1e1e1;
    background-color: rgba(225, 225, 225, 0.9);
}

header {
    position: relative;
    max-width: 1800px;
    margin: 20px auto;
    padding: 10px;
    background: #fff;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
}

.title {
    color: #069370;
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    font-weight: 700;
    text-decoration: none;
}


/************************************* NAV BAR *************************************/

.main-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
    float: right;
}

.clearfix {
    clear: both;
}

.nav-links {
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    text-decoration: none;
    color: #262626
}

nav ul li a.active,
nav ul li a:hover {
    background: #069370;
    color: #fff;
    transition: 0.5s;
}


/************************************* Burger *************************************/

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #069370;
    margin: 5px;
    transition: all 0.3s ease;
}


/************************************* Dropdown *************************************/

.dropbtn {
    position: relative;
    top: 9px;
    padding: 2px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    float: right;
    position: relative;
    top: 1px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    right: 0;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}


/************************************* Responsive Adjustments *************************************/

@media (max-width: 1200px) {
    header {
        margin: 20px;
    }
    .title {
        font-size: 30px;
    }
}

@media(max-width: 975px) {
    .title {
        font-size: 25px;
    }
}

@media (max-width: 800px) {
    .burger {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        padding: 5px;
        float: left;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    body {
        overflow: scroll;
    }
    .nav-links {
        position: absolute;
        right: -20px;
        top: 9vh;
        background-color: #fff;
        display: center;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .title {
        font-size: 23px;
    }
}

@media(max-width: 535px) {
    .title {
        font-size: 21px;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}