@media (max-width: 1200px) {
    header {
        margin: 20px;
    }
    .title {
        font-size: 30px;
    }
}

@media(max-width: 975px) {
    .title {
        font-size: 25px;
    }
}

@media (max-width: 900px) {
    .burger {
        display: block;
        width: 40px;
        height: 40px;
        margin: 10px;
        padding: 5px;
        float: right;
        cursor: pointer;
        text-align: center;
        font-size: 30px;
        color: #069370;
    }
    body {
        overflow: hidden;
    }
    .nav-links {
        position: absolute;
        right: -20px;
        top: 9vh;
        background-color: #fff;
        display: center;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
}

@media (max-width: 700px) {
    .title {
        font-size: 23px;
    }
}