/************************************* BOX  *************************************/

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: #fff;
    padding: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.box h2 {
    margin: 0 0 40px;
    padding: 0;
    color: #069370;
    text-transform: uppercase;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="email"] {
    height: 34px;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0 10px;
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 2px;
}

.box input,
.box textarea {
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;
    outline: none;
    border-bottom: 2px solid #999;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -webkit-transition: background-position 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
    transition: background-position 0.2s, background-color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.submit {
    border-bottom: none;
    cursor: pointer;
    background: #069370;
    color: #fff;
    margin-bottom: 0;
    text-transform: uppercase;
}

.box form div {
    position: relative;
}

.box form div label {
    position: absolute;
    top: 10px;
    left: 4px;
    color: #999;
    transition: .5s;
    pointer-events: none;
}

.box input:focus~label,
.box textarea:focus~label,
.box input:valid~label,
.box textarea:valid~label {
    top: -12px;
    left: 0;
    color: #069370;
    font-size: 12px;
    font-weight: bold;
}

select:hover,
textarea:hover,
input[type="text"]:hover,
input[type="password"]:hover,
input[type="email"]:hover {
    border-color: rgba(255, 255, 255, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    color: rgba(255, 255, 255, 0.7);
}

select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus {
    border: 2px solid;
    border-color: #1e5f99;
    background-color: rgba(0, 0, 0, 0.5);
    color: #ffffff;
}


/************************************* ERROR *************************************/

.error {
    color: #FF0000;
    font-size: 12px;
    font-weight: bold;
}


/************************************* SUCCESS *************************************/

.success {
    color: #069370;
    font-size: 12px;
    font-weight: bold;
}