.container-placement {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-auto-rows: 437px;
    grid-gap: 20px;
    margin: auto 0;
    width: 100%;
}


/************************************* Responsive Adjustments *************************************/

@media (min-width: 576px) and (max-width: 767.98px) {
    .container-placement {
        width: 540px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .container-placement {
        width: 720px;
    }
}

@media (min-width: 992px) {
    .container-placement {
        width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-placement {
        width: 1140px;
    }
}


/************************************* Container *************************************/

.container-placement .square {
    position: relative;
    text-align: center;
    background: #333;
    padding: 20px 20px 40px;
    box-sizing: border-box;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.container-placement .square .layer {
    position: absolute;
    top: calc(100% - 2px);
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#03a9f4, #e91ee3);
    z-index: 1;
    transition: 0.5s;
}

.container-placement .square:hover .layer {
    top: 0;
}

.container-placement .square .content {
    position: relative;
    z-index: 2;
}

.container-placement .square .content p {
    font-size: 16px;
    line-height: 24px;
    color: #ccc;
    transition: 0.5s;
}

.container-placement .square:hover .content p {
    color: #fff;
}

.container-placement .square .content .image {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    padding: 10px;
    overflow: hidden;
}

.container-placement .square .content .image img {
    width: 100%;
    height: auto;
}

.container-placement .square .content .details h2 {
    margin: 15px 0;
    font-size: 19px;
    color: #fff;
}

.container-placement .square .content .details h3 {
    margin: 15px 0;
    font-size: 16px;
    color: #03a9f4;
    transition: 0.5s;
}

.container-placement .square:hover .content .details h3 {
    color: #fff;
}