* {
    padding: 5px;
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    max-width: 700px;
    height: 100px;
}

div {
    text-align: center;
    border-radius: 5px;
}


/* title styling */

h1 {
    font-family: "Core Sans N W01 35 Light";
    font-weight: normal;
    display: block;
    font-size: 30px;
    line-height: 40px;
}


/* every radio button*/

input[type="radio"] {
    cursor: pointer;
    transition: all 250ms ease;
}


/* codes list*/

#codes {
    cursor: pointer;
}


/* the box which shows the printed xml*/

#xml_text {
    width: 500px;
    min-height: 500px;
    height: auto;
    background: #fff;
    border-radius: 5px;
    border-color: #FF0000;
    margin: 2% auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 2%;
}


/*submit button*/

#submit {
    display: inline-block;
    color: #252537;
    width: 280px;
    height: 50px;
    padding: 0 0px;
    background: #fff;
    border-radius: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: auto;
    letter-spacing: 0.05em;
}


/* submit button on hover */

#submit:hover {
    transform: translatey(3px);
    box-shadow: none;
}


/* submit button on hover animation */

#submit:hover {
    animation: submit 0.4s ease-in-out infinite alternate;
}

@keyframes submit {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}


/* Changing the output box to a smaller width and the size of h1 font- making the form responsive */

@media screen and (max-width:550px) {
    h1 {
        font-size: 24px;
    }
    #xml_text {
        width: 400px;
    }
}