body {
    font-family: arial, sans-serif;
    margin: 0;
}

h1 {
    border-bottom: 2px solid #dd4b39;
    padding: 20px 0;
    margin: 0;
    background-color: #f2f2f2;
    color: #404040;
    text-align: center;
}

form {
    overflow: auto;
    background-color: #f2f2f2;
    padding: 10px;
    width: 500px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 20px;
    float: left;
}

label {
    font-weight: bold;
}

label,
form input[type=text],
input[type=submit],
textarea {
    float: left;
    clear: both;
}

form input[type=text],
input[type=submit],
textarea {
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 3px;
    margin: 5px 0 20px 0;
    width: 488px;
    font-size: 16px;
    outline: none;
}

textarea {
    height: 250px;
    font-family: arial, sans-serif;
}

input[type=submit] {
    background-color: #a2c257;
    border-color: #8ba446;
    color: white;
    cursor: pointer;
    margin: 0;
    width: 500px;
}

input:focus,
textarea:focus {
    border-color: black;
}

.radio-label {
    margin-bottom: 20px;
}

#or {
    float: left;
    clear: both;
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
}

#brackets-wrapper,
#round-titles-wrapper {
    position: relative;
    margin-top: 20px;
    float: left;
}

#brackets-wrapper {
    top: 70px;
}

.round-title {
    height: 30px;
    text-align: center;
    line-height: 30px;
}

.round-title,
.match-wrapper {
    border: 1px solid #cdc9c9;
    box-sizing: border-box;
    position: absolute;
    width: 150px;
    background-color: #f5f5f5;
}

.match-divider {
    width: 100%;
    float: left;
    border-top: 1px solid #cdc9c9;
}

.horizontal-connector,
.vertical-connector {
    position: absolute;
}

.vertical-connector {
    border-left: 3px solid #cdc9c9;
    width: 3px;
}

.horizontal-connector {
    border-top: 3px solid #cdc9c9;
    width: 20px;
}

.player-wrapper {
    background-color: #f5f5f5;
    border-right: 1px solid #cdc9c9;
    box-sizing: border-box;
    padding-left: 5px;
    width: 80%;
}

.scor {
    width: 200px;
    height: 300px;
    background-color: #F09A9D;
}

.score {
    background-color: black;
    box-sizing: border-box;
    text-align: center;
    width: 20%;
    border: 0;
    font-size: 16px;
    font-family: arial, sans-serif;
}

.player-wrapper,
.score {
    float: right;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}

#version {
    color: #404040;
    width: 488px;
    text-align: center;
    margin-left: 20px;
}

select {
    border: 0 none;
    border-right: 1px solid #cdc9c9;
    height: 30px;
    width: 80%;
    background-color: #f5f5f5;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
    font-size: 16px;
    font-family: arial, sans-serif;
}

select::-ms-expand {
    display: none;
}

@media print {
    form,
    h1,
    #version {
        display: none;
    }
    .round-title,
    .match-wrapper,
    .player-wrapper {
        border-color: black;
    }
    .match-divider,
    .vertical-connector,
    .horizontal-connector,
    select {
        border-color: black;
    }
}