
<html>
    <body>
        Results from Bristol API will be shown here. 
On the way.....
        <table>
            <% for (var i=0; i<data.length; i++){ %>
                <tr>
                <td>
                      <%= data[i].names%>  
                </td>
                <td>
                    <%= data[i].value%>
                </td>
            </tr>
            <% } %>
            
        </table>
    </body>
</html>