<!DOCTYPE html>
<html>
	<body>
	
		<table style="width:50%" >
			<tr>
				<th align="Left">Name</th>
				<th align="Center">Distance (kms)</th>
			<tr>	
			
			<%# Loop is needed for repetition of table row%>
			<% for (var i=0; i<data.length; i++) { %>
			<tr >
				<%# creates a hyperlink to status page%>
				<td align="Left"><a href="livedata?primaryCode=<%= data[i].primaryCode %>"><%= data[i].name %></a></td>

				<%  //convert degrees to radians, and calculate distance
					var dLat = (lat-data[i].lat) * (Math.PI/180);  
					var dLng = (lng-data[i].lng) * (Math.PI/180);
					//uses the ‘haversine’ formula
					var a = Math.sin(dLat/2) * Math.sin(dLat/2) + 
							Math.cos(data[i].lat * (Math.PI/180)) * Math.cos(lat * (Math.PI/180)) *
							Math.sin(dLng/2) * Math.sin(dLng/2);
					var c = 2 * (Math.atan2(Math.sqrt(a), Math.sqrt(1-a))); %>

				<td align="Center">
					<%# multiply by radius of the earth and round to 2 decimal places %>
					<%= Math.round((6371 * c) * 100) /100  %>
				</td>
			
			</tr>
			<% } %>
		</table> 
	</body>
</html>

