<!DOCTYPE html>
<html>

<head>
    <title>
        ECCSF Search
    </title>
</head>

<body>
    <h3 align="Center"> Electric Car Charging Station Finder V1.1</h3>
    <p align="Center">This app will help you to find nearest possible electric car charging points alongwith their status.</p>
    <p style="font-weight:bold; text-align:center;">Note: Current version of this app only accepts postcodes of 10km radius from central Bristol.
    </p>
    

    <form >
        Enter postcode:
        <input type="text" id="postcode" />
		<!-- .replace(/\s+/g,'') replaces all spaces from value-->
        <button type="button"
		onclick="window.location.href='display?postcode='+document.getElementById('postcode').value.replace(/\s+/g,'')">Enter</button>

    </form>
  

</body>

</html>