<!DOCTYPE html>
<html>
	<body>
		<h1 align="Center">Current Status</h1>

		<table style="width:50%" align="Center" border="1">
			<tr >
				<th>Availability</th>
				<th >Time</th>
				<th >Closed?</th>
			</tr>	

			<% for (var i=0; i<data.length; i++) { %>
			<tr align="Center">
		
			
				<td><%= data[i].statusText %></td>

			    <td><%= data[i].timeStamp %></td>

				<td><%= data[i].isClosed %></td>

			</tr>
			<% } %>
		</table> 
	</body>
</html>

