<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Holtwood+One+SC' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script|Herr+Von+Muellerhoff' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Abel' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Istok+Web|Roboto+Condensed:700' rel='stylesheet' type='text/css'>
     <link rel="stylesheet" href="stylesheet.css">
    <title>March Madness Stock Matchup</title>
</head>
<body>
    <section id="bracket">
    <div class="container">
    <div class="split split-one">
        <div class="round round-one current">
            <div class="round-details">Round 1<br/><span class="date">March 16</span></div>
            <ul class="matchup">
                <li class="team team-top">Team 1<span class="score">1</span></li>
                <a class="view-match" href="#">View Match</a> <br>
                <li class="team team-bottom">Team 2<span class="score">2</span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top">Team 3<span class="score">3</span></li> 
                <br>
                <li class="team team-bottom">Team 4<span class="score">4</span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top">Team 5<span class="score">5</span></li>
                <br>
                <li class="team team-bottom">Team 6<span class="score">6</span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top">Team 7<span class="score">7</span></li>
                <br>
                <li class="team team-bottom">Team 8<span class="score">8</span></li>
            </ul>           
            <ul class="matchup">
                <li class="team team-top">Team 9<span class="score">9</span></li>
                <br>
                <li class="team team-bottom">Team 10<span class="score">10</span></li>
            </ul>   
            <ul class="matchup">
                <li class="team team-top">Team 11<span class="score">11</span></li>
                <br>
                <li class="team team-bottom">Team 12 <span class="score">12</span></li>
            </ul>   
            <ul class="matchup">
                <li class="team team-top">Team 13<span class="score">13</span></li>
                <br>
                <li class="team team-bottom">Team 14<span class="score">14</span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top">Team 15<span class="score">15</span></li>
                <br>
                <li class="team team-bottom">Team 16<span class="score">16</span></li>
            </ul>                                                     
        </div>  <!-- END ROUND ONE -->

        <div class="round round-two">
            <div class="round-details">Round 2<br/><span class="date">March 18</span></div>         
            <ul class="matchup">
                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                <br>
                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>   
            <ul class="matchup">
                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                <br>
                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>   
            <ul class="matchup">
                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                <br>
                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>
            <ul class="matchup">
                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                <br>
                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>                                       
        </div>  <!-- END ROUND TWO -->
        
        <div class="round round-three">
            <div class="round-details">Round 3<br/><span class="date">March 22</span></div>         
            <ul class="matchup">
                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                <br>
                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>   
            <ul class="matchup">
                <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                <br>
                <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
            </ul>                                       
        </div>  <!-- END ROUND THREE -->        
    </div> 

<div class="champion">
        <div class="semis-l">
            <div class="round-details">semifinals <br/><span class="date">March 26-28</span></div>     
            <ul class ="matchup championship">
                <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                <br>
                <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
            </ul>
        </div>
        <div class="final">
            <i class="fa fa-trophy"></i>
            <div class="round-details">championship <br/><span class="date">March 30 - Apr. 1</span></div>      
            <ul class ="matchup championship">
                <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                <br>
                <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
            </ul>
        </div>
    </div>
    </section>
  